body {
    font-family: Roboto, "sans-serif";
    display:flex;
    flex-direction: column;
    margin: 0px;
    background-color: #EFEFEF;
}

.title {
    text-align: center;
    padding: 4vh;
    font-size: 32px;
    font-weight: bold;
}

.calculator {
    font-size: 0;
    margin: auto;
    margin-top: 12vh;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 3vh grey;
}

.display {
    display: flex;
    flex-direction: column;
    width: 32vh;
    height: 16vh;
    margin: 0px;
    font-size: 28px;
    border-radius: 20px 20px 0px 0px;
    justify-content: right;
    align-items: center;
    color: white;
    background: rgb(236,115,207);
    background: linear-gradient(31deg, rgba(236,115,207,1) 0%, rgba(255,183,198,1) 100%);
}

.values {
    display: flex;
    margin-left: auto;
    padding: 5px 20px;
    gap: 10px;
}

#one {
    height: 6vh;
}

.three {
    font-size: 44px;
    display: flex;
    margin-left: auto;
    padding: 0px 20px;
    gap: 10px
}

 button {
    font-size: 20px;
    background-color: white;
    border: none;
    width: 8vh;
    height: 8vh;
    font-weight: bold;
 }

 .num-key:hover,
 .operator:hover,
 .dot:hover,
 .ac:hover,
 .c:hover  {
    color: #ffa6d8;
 }

 .operator,
 .dot,
 .ac,
 .c {
    background-color: #fbf7fc;
 }


#equal {
    width: 16vh;
}

.dot,
#equal {
    border-radius: 0px 0px 20px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3vh;
    gap: 15px;
    font-weight: bold;
  }

  .github {
    height: 4vh;
    transition: transform 1s;
  }

  .github:hover {
    transform: rotate(1080deg);
  }